<section id="contact">
    <h2>Kontakt</h2>
    <p>
        Mobil: 0176 23297855<br>
        E-Mail: <a [href]="'mailto:' + email">{{ email }}</a>
    </p>
    <app-contact-form />
    <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2412.5348824672654!2d8.598!3d53.05!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b6f965!2sDelmenhorst!5e0!3m2!1sde!2sde!4v0000000000" 
        width="100%"
        height="250"
        allowfullscreen=""
        loading="lazy"
        title="">
    </iframe>
</section>