.home {
    text-align: center;
    padding: 80px 20px;
    background: var(--background-emphasis);
}

.home h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.home .btn {
    background: var(--della-blue);
    color: white;
    padding: 12px 24px;
    border-radius: 4px;
    text-decoration: none;
}

.home .btn:hover {
    background: var(--della-gradient-blue);
}

img {
    height: 300px;
    width: 600px;
}

@media (max-width: 650px) {
    img {
        width: 80dvw;
    }
}