section {
    text-align: center;
    padding: 5rem 2rem;
    background: var(--background-emphasis);
}

h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

img {
    height: 300px;
    width: 600px;
}

@media (max-width: 650px) {
    img {
        width: 80dvw;
    }
}